# -----------------------------
# Python
# -----------------------------
backend/venv/
backend/__pycache__/
__pycache__/
*.pyc

# -----------------------------
# Environment Variables
# -----------------------------
backend/.env

# -----------------------------
# Generated AI Files
# -----------------------------
backend/videos/

# -----------------------------
# Node
# -----------------------------
frontend/node_modules/
node_modules/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# VS Code
# -----------------------------
.vscode/